@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700&display=swap')
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--theme-orange: #f26226;
	--theme-dark: #303236;
	--theme-blue: #2e62af;
}

::selection {
	background: var(--theme-orange);
	color: #fff;
	/* Webkit/Blink Browsers */
}

::-moz-selection {
	background: var(--theme-orange);
	color: #fff;
	/* Gecko Browsers */
}

/* General Properties */

body{
	font-family: 'Hind', sans-serif;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding-left: 20px;
	padding-right: 20px;
}

/* For Mobiles */
[class*="col-"] {
	width: 100%;
}

.btn:hover {
	cursor: pointer;
}

.btn-orange {
	background: var(--theme-orange);
	color: #fff;
	border: 1px solid var(--theme-orange);
	border-radius: 5px;
}

.btn-orange:hover {
	background-color: #d04911;
	color: #fff;
}

.btn-blue {
	background-color: var(--theme-blue);
	color: #fff;
	border: 1px solid var(--theme-blue);
}

.btn-blue:hover {
	background-color: #0f346c;
	color: #fff;
}

/* //////////////// */


/* Header Section */

.header__section {
	background-image: url(https://images.pexels.com/photos/1418355/pexels-photo-1418355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	height: 750px;
	background-size: cover;
	background-position: top;
	background-blend-mode: overlay;
	background-color: #0009;
}

.header__section .navbar {
	display: flex;
	padding-right: 40px;
	padding-left: 40px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #eceef2;
}


.header__section .navbar button.icon {
	display: none;
	width: 50px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #eceef2;
	border-radius: 5px;
}


.header__section .nav-link {
	font-size: 14px;
	color: #6a6d75;
	text-decoration: none;
	margin-right: 2rem;
}

.header__section .navbar-logo img {
	margin-top: 10px;
	width: 100px;
}

.header__section a button {
	font-size: 14px;
	padding: 10px;
}

.header__section .welcome__section {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 700px;
	color: #fff;
}

.header__section .welcome__section h1 {
	font-weight: 600;
	font-size: 46px;
	text-align: center;
	margin-bottom: 1rem;
}

.header__section .welcome__section p {
	text-align: center;
}

.header__section .welcome__section button {
	color: #fff;
	font-size: 13px;
	padding: 10px 40px;
}

/* What We Do Section */

.what_we_do {
	margin-top: 4.7rem;
}

.what_we_do .row {
	margin-top: 4rem;
}

.what_we_do img {
	display: block;
	margin: auto;
}

.what_we_do h3 {
	font-size: 40px;
	font-weight: 800;
	margin-top: 5rem;
	color: var(--theme-dark);
	margin-bottom: 1rem;
}

.what_we_do p {
	font-size: 23px;
	color: #6a6d75;
	line-height: 1.6;
}

/* /////////////// */


/* Blue apron box styling*/

.inside_apron-box {
	margin: 4rem 4rem;
}

.inside__apron-wrapper {
	background-image: url('../img/aprobox-wrapper.jpg');
	background-size: cover;
	background-position: center;
	min-height: 500px;
	padding: 3rem 9rem;
	text-align: center;
}

.inside__apron-wrapper .card {
	background-color: #fff;
}

.inside__apron-wrapper .card-body {
	padding: 2rem;
}

.inside__apron-wrapper h3 {
	color: var(--theme-dark);
	font-size: 20px;
	font-weight: 700;
	margin: 1.5rem 0;
}

.inside__apron-wrapper img {
	display: block;
	height: 50px;
	margin: 1.6rem auto 1.6rem auto;
}

.inside__apron-wrapper h4 {
	color: var(--theme-dark);
	font-size: 22px;
	font-weight: 500;
	line-height: normal;
}

.inside__apron-wrapper p {
	color: #6a6d75;
	font-size: 18px;
}

.inside__apron-wrapper .card-body button {
	padding: 15px 50px;
	border-radius: 25px;
}

/* /////////////// */

/* Start Serving */

.start_serving {
	margin-top: 4.7rem;
	text-align: center;
}

.start_serving h3 {
	font-size: 26px;
	font-weight: 700;
	margin-top: 1.3rem;
	color: var(--theme-dark);
	margin-bottom: 1rem;
}

.start_serving p {
	font-size: 18px;
	color: #6a6d75;
	line-height: 1.6;
}

.start_serving button {
	padding: 15px 50px;
	border-radius: 25px;
}

/* ///////////////// */

/* Contact Section */

.contact__section {
	background-color: #fafbfc;
	margin-top: 4rem;
	border-top: 1px solid #eceef2;
	padding-top: 10px;
	padding-bottom: 10px;
}

.contact__section [class*="col-"] {
	text-align: center;
	padding-bottom: 10px;
}

.contact__section img {
	height: 30px;
	opacity: 0.3;
	margin-right: 1rem;
}

.contact__section input {
	height: 30px;
	width: 200px;
}

.contact__section button {
	margin-left: -0.5rem;
	height: 36px;
}

.contact__section h5 {
	font-size: 17px;
}

.contact__section p {
	font-size: 14px;
	color: #6a6d75;
}

.contact__section a {
	color: #303236;
	font-size: 14px;
}

.add-border {
	border-left: 1px solid #e4e6eb;
	border-right: 1px solid #e4e6eb;
}

/* //////////////// */

/* Footer Section */

.footer__section {
	width: 100%;
	background-color: #0f346c;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 40px;
	line-height: 2rem;
}

.footer__section a {
	color: #a1bce6;
	font-size: 14px;
}

.footer__section p {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 15px;
}

.footer__section img {
	width: 125px;
}

.footer__section .col-3 {
	text-align: right;
}

/* /////////////// */

/* Media Queries */

@media only screen and (min-width: 768px) {
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	.header__section .navbar {
		
	}
	.navbar ul a {
		display: none;
	}
	.navbar button.icon {
		display: block !important;
		position: fixed;
		top: 15px;
		right: 20px;
	}
}

@media only screen and (max-width: 576px) {
	.what_we_do h3 {
		text-align: center;
	}
	.what_we_do p {
		text-align: center;
	}
	.inside_apron-box {
		margin: 4rem 0;
	}
	.inside__apron-wrapper {
		padding: 0;
	}
	.contact__section .col-6 {
		border-top: 1px solid #e4e6eb;
		border-bottom: 1px solid #e4e6eb;
	}
	.footer__section {
		text-align: center;
	}
	.footer__section .col-3 {
	text-align: center;
	}
}